@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@100;200;300&display=swap");
html {
  font-size: 62.5%;
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Inter", sans-serif;
  min-height: 100%; }

header .header {
  grid-area: header; }

header nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  border: 0; }
  header nav .bgNavcolor {
    background-color: #DBCCBB; }
  header nav img {
    width: 150px; }
  header nav div a .logonav {
    padding-left: 20px; }
  header nav .menu {
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #1C1915;
    padding: 10px;
    margin: 10px; }
    header nav .menu:hover {
      text-decoration: underline;
      text-decoration-color: #b5997699; }
  header nav form {
    text-align: right;
    padding: 10px;
    margin: 10px; }
    header nav form button #buttonNav {
      border-color: #2c2318;
      color: #1C1915; }
      header nav form button #buttonNav:hover {
        color: #fff;
        background-color: #2c2318; }

main section div {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center; }

main section figure {
  text-align: center;
  align-items: center;
  margin: 5px; }
  main section figure:hover {
    border-style: solid;
    border-color: #DBCCBB;
    border-radius: 10px;
    background-color: #DBCCBB; }
  main section figure figcaption {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    opacity: 0.8; }
    main section figure figcaption:hover {
      text-decoration: underline;
      cursor: pointer;
      text-decoration-color: #b5997699;
      opacity: 1; }
  main section figure figure p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    padding: auto;
    margin: auto; }
  main section figure .imgproductos {
    max-height: 100%;
    margin: 20px; }
  main section figure figure img {
    padding: 20px;
    margin: 20px; }

.bgBodycolor {
  background-color: #F0E9E1; }

.bgNavcolor {
  background-color: #DBCCBB; }

.footerdec {
  background: linear-gradient(220deg, #DBCCBB, #b5997699); }

.fa {
  color: #2c2318; }

#button {
  background: linear-gradient(#4C371C, #2c2318);
  color: #fff;
  border: none;
  padding: 10px;
  width: 370px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.9; }
  #button:hover {
    opacity: 1; }

.breadcrumb {
  font-size: 1.5rem;
  color: #1C1915;
  margin: 5px;
  padding: 5px; }
  .breadcrumb a {
    text-decoration: none;
    color: #1C1915;
    opacity: 0.8; }
    .breadcrumb a:hover {
      opacity: 1;
      color: #1C1915;
      text-decoration: underline; }

.containerIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 30px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header" "contenido" "newsletter"; }
  .containerIndex .newsletter {
    grid-area: newsletter; }
  .containerIndex .contenido {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 100%; }
    .containerIndex .contenido .carousel-item img {
      height: auto;
      width: 100%;
      max-height: 540px;
      size-adjust: 100%; }
    .containerIndex .contenido .portadaIndex {
      font-family: "Inter", sans-serif;
      font-size: 2.5rem;
      color: #1C1915;
      padding-top: 10px;
      padding: 0; }
  .containerIndex .contenidogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    opacity: 0.8;
    transition: width 0.5s;
    margin-top: 40px; }
    .containerIndex .contenidogrid:hover {
      opacity: 1;
      transform: scale(1.1);
      width: 101%; }
  .containerIndex .contenidoflex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    opacity: 0.8;
    transition: width 0.5s; }
    .containerIndex .contenidoflex2:hover {
      opacity: 1;
      transform: scale(1.1);
      width: 101%; }
  .containerIndex a {
    text-decoration: none; }
    .containerIndex a .contenidofont {
      font-size: 2rem;
      font-family: "Inter", sans-serif;
      color: #1C1915;
      transition: font-size 0.5s;
      text-decoration: none; }
      .containerIndex a .contenidofont:hover {
        font-size: 2.1rem; }
  .containerIndex div .card {
    background-color: antiquewhite;
    border-radius: 1rem;
    border-color: #b5997699; }
  .containerIndex div .card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }
  .containerIndex div .cardMcardM1 {
    transition: width 0.2; }
  .containerIndex div .cardMcardM2 {
    transition: width 0.4; }
  .containerIndex div .cardMcardM3 {
    transition: width 0.6; }
  .containerIndex .newslettlerInfo {
    display: grid;
    grid-template-rows: 1fr;
    text-decoration: none;
    font: "Inter", sans-serif;
    font-size: 1.8rem;
    color: #1C1915;
    width: 450px;
    margin: auto;
    padding: 30px 40px;
    background-color: #b5997699;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px; }
  .containerIndex form h2 {
    text-align: center; }

.containerprod {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  font-family: "Inter", sans-serif; }
  .containerprod .fotosMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .containerprod .corprod {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "titulo" "form"; }
    .containerprod .corprod .products {
      margin-top: 0;
      margin-left: 0; }
    .containerprod .corprod .h1productos {
      grid-area: titulo;
      text-align: center;
      font-size: 3.5rem;
      margin-right: 20px;
      margin-bottom: 10px; }
    .containerprod .corprod select {
      grid-area: form;
      width: 100px;
      height: 30px; }
      .containerprod .corprod select .formtalles {
        list-style-type: none;
        text-decoration: none;
        text-align: left;
        font-family: "Inter", sans-serif;
        font-size: 1.5rem;
        color: #1C1915; }

.containerCuidados {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  font-family: "Inter", sans-serif; }
  .containerCuidados .gridCui {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "textCuiTI textCuiTI" "tectCuimain fotoCui" "textCui2 textCui2";
    align-items: center;
    justify-items: center; }
    .containerCuidados .gridCui .textCuiTI {
      grid-area: textCuiTI;
      display: inline-block;
      flex-direction: column;
      font-size: 3.5rem;
      padding: 20px;
      margin: 20px;
      text-align: center;
      justify-items: center; }
    .containerCuidados .gridCui .textpreg {
      font-family: "Inter", sans-serif;
      font-size: 3rem;
      padding: 5px;
      margin: 10px;
      text-align: center; }
    .containerCuidados .gridCui .textIntro {
      font-family: "Inter", sans-serif;
      font-size: 2rem;
      padding: 10px;
      margin-bottom: 2rem;
      margin: 15px; }
    .containerCuidados .gridCui .textli {
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      list-style-type: disc; }
    .containerCuidados .gridCui .picCuida {
      align-items: center;
      border-radius: 10px;
      margin-bottom: 20px; }
    .containerCuidados .gridCui h3 {
      grid-area: textCui2; }
      .containerCuidados .gridCui h3 .eslogan2 {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        padding: 10px;
        margin: 20px;
        text-align: center; }

.containerNos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  font-family: "Inter", sans-serif; }
  .containerNos .textnosotrosTI {
    grid-area: NosotrostextT;
    font-family: "Inter", sans-serif;
    font-size: 3.5rem; }
  .containerNos .containerNosgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "Nosotrostext1 FotoAnillosnos1" "FotoNos2 Nosotrostext2" "Nosotrostext3 Nosotrostext3" "iframespotify iframespotify";
    align-items: center;
    justify-items: center;
    font-family: "Inter", sans-serif; }
    .containerNos .containerNosgrid .textnosotrosp {
      grid-area: Nosotrostext1;
      font-family: "Inter", sans-serif;
      font-size: 2rem;
      padding-bottom: 20px; }
    .containerNos .containerNosgrid .FotoAnillosnos1 {
      width: auto;
      height: auto;
      grid-area: FotoAnillosnos1;
      padding: 0; }
    .containerNos .containerNosgrid .FotoNos2 {
      width: auto;
      max-width: 600px;
      height: auto;
      grid-area: FotoNos2;
      padding: 0; }
    .containerNos .containerNosgrid .textnosotrosp2 {
      grid-area: Nosotrostext2;
      font-family: "Inter", sans-serif;
      font-size: 2rem;
      padding-top: 20px;
      padding-left: 10px; }
    .containerNos .containerNosgrid .textp {
      grid-area: Nosotrostext3;
      font-family: "Inter", sans-serif;
      font-size: 2rem;
      text-align: center;
      padding: 20px; }
    .containerNos .containerNosgrid .iframespotify {
      grid-area: iframespotify;
      width: 800px; }

.containerContacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  font-family: "Inter", sans-serif; }
  .containerContacto .contacto {
    font-family: "Inter", sans-serif;
    font-size: 3.5rem;
    text-align: left;
    margin-left: 20px; }
  .containerContacto .gridContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto); }
    .containerContacto .gridContacto .textformp {
      text-align: left;
      padding: 30px;
      margin: 20px;
      font-size: 2rem;
      font-family: "Inter", sans-serif; }
    .containerContacto .gridContacto .formContacto {
      display: grid;
      grid-template-rows: 1fr;
      text-decoration: none;
      font-family: "Inter", sans-serif;
      font-size: 1.8rem;
      color: #1C1915;
      width: 400px;
      height: 380px;
      background-color: #b5997699;
      box-sizing: border-box;
      margin-bottom: 20px;
      border-radius: 7px; }
      .containerContacto .gridContacto .formContacto .form-group {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: 10px; }
        .containerContacto .gridContacto .formContacto .form-group input {
          width: 350px;
          margin: 0; }
        .containerContacto .gridContacto .formContacto .form-group textarea {
          width: 350px;
          padding: 0; }
        .containerContacto .gridContacto .formContacto .form-group label {
          margin: 0;
          padding: 0; }

footer .footerdec {
  background: linear-gradient(220deg, #DBCCBB, #b5997699); }

footer .footer {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-decoration: none; }
  footer .footer iframe {
    padding: 5rem;
    width: 100%; }
  footer .footer .footerSectionp {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    font: "Inter", sans-serif;
    color: #1C1915;
    font-size: 1.8rem;
    margin: 15px; }
    footer .footer .footerSectionp a {
      text-decoration: none; }
  footer .footer .iconfooter {
    width: 40px;
    height: 40px;
    align-content: center; }
  footer .footer h2 .esloganFooter {
    display: flex;
    flex-direction: column;
    align-content: right;
    text-align: right;
    font: "Inter", sans-serif;
    font-size: 3rem;
    color: #1C1915;
    margin: 20px; }

@media (max-width: 965px) {
  .breadcrumb {
    font-size: 1.3rem; }
  .contenido .contenidogrid {
    display: flex;
    flex-direction: column; }
  .contenido .contenidoflex2 {
    display: flex;
    flex-direction: row; }
  footer .footer {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .containerprod .corprod .h1productos {
    font-size: 2.5rem; }
  .containerprod .corprod .fotosMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .containerprod .corprod .fotosMain figure {
      text-align: center; }
      .containerprod .corprod .fotosMain figure figcaption {
        font-size: 2.2rem; }
      .containerprod .corprod .fotosMain figure p {
        font-size: 2rem; }
  .containerCuidados .gridCui {
    display: flex;
    flex-direction: column; }
  /* NOSOTROS */
  .containerNos .textNosotrosTI {
    font-size: 2.8rem; }
  .containerNos .containerNosgrid {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .containerNos .containerNosgrid .textnosotrosp {
      text-align: center;
      padding: 15px;
      padding-top: 0;
      font-size: 2rem; }
    .containerNos .containerNosgrid .textnosotrosp2 {
      text-align: center;
      padding: 15px;
      font-size: 2rem; }
    .containerNos .containerNosgrid .textp {
      text-align: center;
      padding: 15px;
      font-size: 2rem; }
    .containerNos .containerNosgrid .FotoAnillosnos1 {
      width: auto;
      height: auto;
      max-width: 600px; }
    .containerNos .containerNosgrid .FotoNos2 {
      width: auto;
      height: auto;
      max-width: 600px; }
    .containerNos .containerNosgrid .iframespotify {
      width: 600px; }
  /* CONTACTO */
  .containerContacto .contacto {
    text-align: center;
    font-size: 2.8rem; }
  .containerContacto .gridContacto {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .containerContacto .gridContacto .textformp {
      text-align: center;
      padding: 0;
      margin: 0;
      padding-bottom: 25px; } }

@media (max-width: 767px) {
  .breadcrumb {
    font-size: 1.2rem; }
  /* INDEX */
  .contenido .contenidogrid {
    display: flex;
    flex-direction: column; }
    .contenido .contenidogrid .contenidofont {
      font-size: 1.5rem;
      transition: font-size 0.5s;
      text-decoration: none; }
      .contenido .contenidogrid .contenidofont:hover {
        font-size: 1.6rem; }
  .contenido .contenidoflex2 {
    display: flex;
    flex-direction: column; }
  footer .footer {
    display: flex;
    flex-direction: column; }
  /* PRODUCTOS */
  .containerprod .corprod {
    display: flex;
    flex-direction: column; }
    .containerprod .corprod .h1productos {
      font-size: 2.5rem; }
    .containerprod .corprod .fotosMain {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      .containerprod .corprod .fotosMain figure {
        text-align: center; }
        .containerprod .corprod .fotosMain figure figcaption {
          font-size: 2.2rem; }
        .containerprod .corprod .fotosMain figure p {
          font-size: 2rem; }
  /* CUIDADOS */
  .containerCuidados {
    display: flex;
    flex-direction: column; }
    .containerCuidados .gridCui .textCuiTI {
      font-size: 2.8rem; }
    .containerCuidados .gridCui .textpreg {
      font-size: 2.2rem; }
    .containerCuidados .gridCui .textIntro {
      font-size: 1.8rem; }
  /* NOSOTROS */
  .containerNos .textnosotrosTI {
    font-size: 2.8rem; }
  .containerNos .containerNosgrid {
    display: flex;
    flex-direction: column; }
    .containerNos .containerNosgrid .textnosotrosp {
      font-size: 2rem; }
    .containerNos .containerNosgrid .textnosotrosp2 {
      text-align: center;
      font-size: 2rem; }
    .containerNos .containerNosgrid .textp {
      font-size: 2rem; }
    .containerNos .containerNosgrid .FotoAnillosnos1 {
      width: auto;
      height: auto;
      max-width: 500px; }
    .containerNos .containerNosgrid .FotoNos2 {
      width: auto;
      height: auto;
      max-width: 500px; }
    .containerNos .containerNosgrid .iframespotify {
      width: 500px; }
  /* CONTACTO */
  .containerContacto .contacto {
    text-align: center;
    font-size: 2.8rem; }
  .containerContacto .gridContacto {
    display: flex;
    flex-direction: column; }
    .containerContacto .gridContacto .textformp {
      text-align: center; } }

@media (max-width: 560px) {
  .breadcrumb {
    font-size: 1rem; }
  .contenido {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 100%; }
    .contenido .carousel-item img {
      height: auto;
      width: 100%;
      max-height: 250px;
      size-adjust: 100%; }
    .contenido .portadaIndex {
      font-family: "Inter", sans-serif;
      font-size: 2.5rem;
      color: #1C1915;
      padding-top: 10px;
      padding: 0; }
    .contenido .containerIndex .contenidogrid {
      display: flex;
      flex-direction: column; }
      .contenido .containerIndex .contenidogrid .contenidofont {
        font-size: 1rem;
        transition: font-size 0.5s;
        text-decoration: none; }
        .contenido .containerIndex .contenidogrid .contenidofont:hover {
          font-size: 1.2rem; }
  .containerprod .corprod .h1productos {
    font-size: 2.5rem; }
  .containerprod .corprod .fotosMain {
    display: grid;
    grid-template-columns: 1fr; }
    .containerprod .corprod .fotosMain figure {
      text-align: center; }
      .containerprod .corprod .fotosMain figure figcaption {
        font-size: 2rem; }
      .containerprod .corprod .fotosMain figure p {
        font-size: 1.8rem; }
  .containerCuidados {
    display: flex;
    flex-direction: column; }
    .containerCuidados .gridCui .textCuiTI {
      font-size: 2.5rem; }
    .containerCuidados .gridCui .textpreg {
      font-size: 2rem; }
    .containerCuidados .gridCui .textIntro {
      font-size: 1.5rem; }
  .containerNos .textnosotrosTI {
    font-size: 2.5rem; }
  .containerNos .containerNosgrid {
    display: flex;
    flex-direction: column; }
    .containerNos .containerNosgrid .textnosotrosp {
      font-size: 2rem; }
    .containerNos .containerNosgrid .textnosotrosp2 {
      text-align: center;
      font-size: 2rem; }
    .containerNos .containerNosgrid .textp {
      font-size: 2rem; }
    .containerNos .containerNosgrid .FotoAnillosnos1 {
      width: auto;
      height: auto;
      max-width: 200px; }
    .containerNos .containerNosgrid .FotoNos2 {
      width: auto;
      height: auto;
      max-width: 300px;
      padding: 0;
      justify-content: center; }
    .containerNos .containerNosgrid .iframespotify {
      width: 300px; }
  .containerContacto .contacto {
    text-align: center;
    font-size: 2.5rem; }
  .containerContacto .gridContacto {
    display: flex;
    flex-direction: column; }
    .containerContacto .gridContacto .formContacto {
      width: 300px; }
      .containerContacto .gridContacto .formContacto .form-group input {
        width: 220px;
        margin: 0; }
      .containerContacto .gridContacto .formContacto .form-group textarea {
        width: 220px;
        padding: 0; }
      .containerContacto .gridContacto .formContacto .form-group label {
        margin: 0;
        padding: 0; }
    .containerContacto .gridContacto .textformp {
      text-align: center;
      font-size: 1.8rem; }
  #button {
    width: 250px; } }
