@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@100;200;300&display=swap');
html {
    font-size: 62.5%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100%;
}


/* .mainProductos {
    height: 100vh;
} */

.containerIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 30px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header""contenido""newsletter""footerfoot"
}

.header {
    grid-area: header;
}

.Contenido {
    grid-area: contenido;
}

.footerfoot {
    grid-area: footerfoot;
}

.newsletter {
    grid-area: newsletter;
}


/*bg-bodycolor  */


/* bg-navcolor */

.bgNavcolor {
    background-color: #DBCCBB;
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}


/* logo */

#botonera img {
    width: 150px;
}


/* barrita */

.logonav {
    padding-left: 20px;
}

.barrita {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 10px;
    list-style-type: none;
    line-height: 1.5rem;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

.menu {
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    color: #1C1915;
    padding: 10px;
    margin: 10px;
}

nav form {
    text-align: right;
    padding: 10px;
    margin: 10px;
}


/* allheader */

.carousel1 {
    max-width: 100%;
    max-height: 600px;
    size-adjust: 100%;
}

.portadaIndex {
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    color: #FFFFFF;
    padding-top: 20px;
}


/*  */

.sacarItemlist {
    list-style-type: none;
}


/* contenido */

.contenido {
    display: grid;
    max-width: 100%;
    margin: 20px;
    padding: 40px;
}

.imgIcon {
    display: flex;
    width: 40px;
    align-self: center;
}

.contenidoflex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    opacity: 0.8;
    transition: width 0.5s;
}

.contenidoflex:hover {
    opacity: 1;
    transform: scale(1.1);
    width: 101%;
}


/* sectioninfo */

.contenidofont {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    color: #1C1915;
    display: inline-block;
    flex-direction: column;
    transition: font-size 0.5s;
}

.contenidofont:hover {
    font-size: 2.1rem;
}


/* newslettlerinfo */

.newslettlerInfo {
    display: grid;
    grid-template-rows: 1fr;
    text-decoration: none;
    font: 'Inter', sans-serif;
    font-size: 1.8rem;
    color: #1C1915;
    width: 450px;
    margin: auto;
    padding: 30px 40px;
    background-color: #b5997699;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
}

form h2 {
    text-align: center;
}

#button {
    background: linear-gradient(#4C371C, #2c2318);
    color: #fff;
    border: none;
    padding: 10px;
    width: 370px;
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.9;
}

#button:hover {
    opacity: 1;
}

.footer {
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
}


/* footer */

.footerdec {
    background: linear-gradient(220deg, #dccdbc, #b5997699);
}


/* iframe */

.iframe {
    grid-area: iframe;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 450px;
    margin: 20px;
}


/* footersectionp */

.footerSectionp {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    font: 'Inter', sans-serif;
    color: #1C1915;
    font-size: 1.8rem;
    margin: 20px;
}


/* iconfooter */

.iconfooter {
    display: inline;
    flex-direction: column;
    width: 40px;
    height: 40px;
    align-content: center;
}


/* esloganfooter */

.esloganFooter {
    display: flex;
    align-content: right;
    text-align: right;
    font: 'Inter', sans-serif;
    font-size: 3rem;
    color: #1C1915;
    margin: 20px;
}


/* PRODUCTOS EMPIEZA ACA */

.containerprod {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fotosMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* h1productos */

.h1productos {
    display: flex;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    justify-content: center;
    font-size: 3.5rem;
    margin-top: 20px;
}


/* categorias */

.h2categorias {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    margin-top: 20px;
    padding: 10px;
}


/* categoria2 */

.categoria2 {
    display: flex;
    flex-direction: row;
    text-align: left;
    font: 'Inter', sans-serif;
    font-size: 1.8rem;
    color: #1C1915;
    margin-top: 20px;
    width: 50px;
}

.formtalles {
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    font: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: #1C1915;
    margin-top: 20px;
}


/* divleft */

.div {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.div figure {
    text-align: center;
    align-items: center;
}

.div,
figure,
figcaption {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}

.div,
figure,
figcaption,
p {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}


/* fotos */

.imgproductos {
    max-height: 100%;
    margin: 20px;
}

.div figure img {
    padding: 20px;
    margin: 20px;
    ;
}

div p {
    padding: auto;
    margin: auto;
}


/*CUIDADOS EMPIEZA ACA*/

.containerCuidados {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas: "headercuidados""cuidadostittle""cuidadostext""cuidadoseslogan";
}

.headercuidados {
    grid-area: headercuidados;
}

.cuidadostittle {
    grid-area: cuidadostittle;
}

.cuidadostext {
    grid-area: cuidadostext;
}

.cuidadoseslogan {
    grid-area: cuidadoseslogan;
}


/* fontyesascosas */

.textCuidados {
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    padding: 20px;
    margin: 20px;
    text-align: center;
}


/* textpreg */

.textpreg {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    padding: 20px;
    margin: 20px;
    text-align: center;
}


/* textp */

.textIntro {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    padding: 10px;
    margin: 20px;
    text-align: center;
}


/* textli */

.textli {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    list-style-type: disc;
    padding: 5px;
    margin-right: 50px;
    margin-left: 50px;
}


/* eslogan2 */

.eslogan2 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    padding: 10px;
    margin: 20px;
    text-align: center;
}


/* NOSOTROS EMPIEZA ACA */

.containerNos {
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "NosotrostextT NosotrostextT""Nosotrostext1 FotoAnillosnos1""FotoNos2 Nosotrostext2""Nosotrostext3 Nosotrostext3""iframespotify iframespotify";
    align-items: center;
    justify-items: center;
}

.NosotrostextT {
    grid-area: NosotrostextT;
}

.Nosotrostext1 {
    grid-area: Nosotrostext1;
}

.FotoAnillosnos1 {
    grid-area: FotoAnillosnos1;
}

.FotoNos2 {
    grid-area: FotoNos2;
}

.Nosotrostext2 {
    grid-area: Nosotrostext2;
}

.Nosotrostext3 {
    grid-area: Nosotrostext3;
}

.iframespotify {
    grid-area: iframespotify;
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 450px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.textnosotros {
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    padding: 10px;
    margin: 20px;
}


/* textnosotros */

.textnosotrosp {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    text-align: left;
    padding: 10px;
    margin: 20px;
}

.textnosotrosp2 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    text-align: right;
    padding: 30px;
    margin: 20px;
}


/* textp */

.textp {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.containerNos section img {
    display: flex;
    flex-direction: column;
    padding: 30px;
    transition: padding 0.5s;
}

.containerNos section img:hover {
    padding: 20px;
}

.containerNos section iframe {
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
}


/*CONTACTO EMPIEZA ACA  */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 30px 20px;
    grid-auto-flow: row;
    grid-template-areas: "contactoText contactoForm";
    justify-items: center;
    align-items: center;
}

.contactoText {
    grid-area: contactoText;
}

.contactoForm {
    grid-area: contactoForm;
}


/* contacto */

.contacto {
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    text-align: left;
    padding: 30px;
    margin: 20px;
}

.formContacto {
    display: grid;
    grid-template-rows: 1fr;
    text-decoration: none;
    font: 'Inter', sans-serif;
    font-size: 1.8rem;
    color: #1C1915;
    width: 450px;
    margin: auto;
    padding: 30px 40px;
    background-color: rgba(181, 153, 118, 0.6);
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
}


/* textform */

.textformp {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding: 30px;
    margin: 20px;
}


/* contactform */

.contactform {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    font: 'Inter', sans-serif;
    font-size: 1.8rem;
    color: #1C1915;
    margin: 40px;
    padding: 20px, 10px
}

@media (max-width:965px) {
    /* NOSOTROS */
    .containerNos {
        display: flex;
        flex-direction: column;
    }
    .Nosotrostext1 {
        text-align: center;
    }
    .textnosotrosp2 {
        text-align: center;
    }
    .containerNos .FotoNos2 section img {
        display: flex;
        flex-direction: row;
        width: 500px;
        padding: 0;
        justify-content: center;
    }
    .FotoAnillosnos1 section img {
        display: flex;
        flex-direction: column;
        width: 500px;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .iframespotify {
        width: 800px;
    }
    /* CONTACTO */
    .container {
        display: flex;
        flex-direction: column;
    }
    .contactform {
        width: 800px;
    }
    .contacto {
        text-align: center;
    }
    .textformp {
        text-align: center;
    }
    .logonav,
    img {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }
}

@media (max-width:767px) {
    body {
        background-color: #F0E9E1
    }
    /* INDEX */
    .contenidoflex {
        display: flex;
        flex-direction: column;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footerfoot {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .footerdec {
        background-color: #DBCCBB;
    }
    /* PRODUCTOS */
    .fotosMain {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .iframe {
        width: 400px;
    }
    /* CUIDADOS */
    .containerCuidados main {
        display: flex;
        flex-direction: column;
    }
    /* NOSOTROS */
    .containerNos {
        display: flex;
        flex-direction: column;
    }
    .textnosotrosp2 {
        text-align: center;
    }
    .containerNos .FotoNos2 section img {
        display: flex;
        flex-direction: row;
        width: 400px;
        padding: 0;
        justify-content: center;
    }
    .containerNos .FotoAnillosnos1 section img {
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .iframespotify {
        width: 600px;
    }
    /* CONTACTO */
    .container {
        display: flex;
        flex-direction: column;
    }
    .contactform {
        width: 400px;
    }
    .contacto {
        text-align: center;
    }
    .textformp {
        text-align: center;
    }
}

@media (max-width:560px) {
    .fotosMain {
        display: grid;
        grid-template-columns: 1fr;
    }
    .containerprod {
        padding: 0;
    }
    /* .fotosMain figure img {
        width: 100%;
    } */
    .fotosMain figure {
        text-align: center;
    }
    .iframe {
        width: 300px;
    }
    .containerNos section img {
        width: 300px;
        padding: 0;
    }
    .iframespotify {
        width: 300px;
    }
    .contactform,
    .formContacto,
    form {
        width: 300px;
    }
    #button {
        width: 220px;
    }
    .contacto {
        text-align: center;
    }
    .textformp {
        text-align: center;
    }
}