                    @import "../scss/partials/variables";
                    @import "../scss/partials/reset";
                    @import "../scss/partials/header";
                    @import "../scss/partials/imgprod";
                    .bgBodycolor {
                        background-color: $mainColor;
                    }
                    
                    .bgNavcolor {
                        background-color: $secondaryColor;
                    }
                    
                    .footerdec {
                        background: linear-gradient(220deg, $secondaryColor, $thirdColor);
                    }
                    
                    .fa {
                        color: #2c2318;
                    }
                    
                    #button {
                        background: $buttonColor;
                        color: #fff;
                        border: $sacarDeco;
                        padding: 10px;
                        width: 370px;
                        margin-top: 20px;
                        cursor: pointer;
                        opacity: 0.9;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    
                    .breadcrumb {
                        font-size: 1.5rem;
                        color: $fontColor;
                        margin: 5px;
                        padding: 5px;
                        a {
                            text-decoration: $sacarDeco;
                            color: $fontColor;
                            opacity: 0.8;
                            &:hover {
                                opacity: 1;
                                color: $fontColor;
                                text-decoration: underline;
                            }
                        }
                    }
                    
                    .containerIndex {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: repeat(3, auto);
                        gap: 30px 0px;
                        grid-auto-flow: row;
                        grid-template-areas: "header""contenido""newsletter";
                        .newsletter {
                            grid-area: newsletter;
                        }
                        .contenido {
                            display: flex;
                            flex-direction: column;
                            justify-items: $Center;
                            max-width: 100%;
                            .carousel-item {
                                img {
                                    height: auto;
                                    width: 100%;
                                    max-height: 540px;
                                    size-adjust: 100%;
                                }
                            }
                            .portadaIndex {
                                font-family: $mainFont;
                                font-size: 2.5rem;
                                color: $fontColor;
                                padding-top: 10px;
                                padding: 0;
                            }
                        }
                        .contenidogrid {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr;
                            align-items: $Center;
                            justify-items: $Center;
                            width: 100%;
                            opacity: 0.8;
                            transition: width 0.5s;
                            margin-top: 40px;
                            &:hover {
                                opacity: 1;
                                transform: scale(1.1);
                                width: 101%;
                            }
                        }
                        .contenidoflex2 {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
                            width: 100%;
                            opacity: 0.8;
                            transition: width 0.5s;
                            &:hover {
                                opacity: 1;
                                transform: scale(1.1);
                                width: 101%;
                            }
                        }
                        a {
                            text-decoration: $sacarDeco;
                            .contenidofont {
                                font-size: 2rem;
                                font-family: $mainFont;
                                color: $fontColor;
                                transition: font-size 0.5s;
                                text-decoration: $sacarDeco;
                                &:hover {
                                    font-size: 2.1rem;
                                }
                            }
                        }
                        div {
                            .card {
                                background-color: antiquewhite;
                                border-radius: 1rem;
                                border-color: $thirdColor;
                            }
                            .card-img-top {
                                border-top-left-radius: 1rem;
                                border-top-right-radius: 1rem;
                            }
                            $cards: (cardM1: 0.2, cardM2: 0.4, cardM3: 0.6);
                            @each $card,
                            $width in $cards {
                                .cardM#{$card} {
                                    transition: width $width;
                                }
                            }
                        }
                        .newslettlerInfo {
                            display: grid;
                            grid-template-rows: 1fr;
                            text-decoration: $sacarDeco;
                            font: $mainFont;
                            font-size: 1.8rem;
                            color: $fontColor;
                            width: 450px;
                            margin: auto;
                            padding: 30px 40px;
                            background-color: $thirdColor;
                            box-sizing: border-box;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            border-radius: 7px;
                        }
                        form h2 {
                            text-align: $Center;
                        }
                    }
                    
                    .containerprod {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        padding: 2rem;
                        font-family: $mainFont;
                        .fotosMain {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                        }
                        .corprod {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr;
                            grid-template-areas: "titulo""form";
                            .products {
                                margin-top: 0;
                                margin-left: 0;
                            }
                            .h1productos {
                                grid-area: titulo;
                                text-align: $Center;
                                font-size: 3.5rem;
                                margin-right: 20px;
                                margin-bottom: 10px;
                            }
                            select {
                                grid-area: form;
                                width: 100px;
                                height: 30px;
                                .formtalles {
                                    list-style-type: none;
                                    text-decoration: none;
                                    text-align: left;
                                    font-family: $mainFont;
                                    font-size: 1.5rem;
                                    color: $fontColor;
                                }
                            }
                        }
                    }
                    
                    .containerCuidados {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        padding: 2rem;
                        font-family: $mainFont;
                        .gridCui {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: repeat(3, auto);
                            grid-template-areas: "textCuiTI textCuiTI""tectCuimain fotoCui""textCui2 textCui2";
                            align-items: $Center;
                            justify-items: $Center;
                            .textCuiTI {
                                grid-area: textCuiTI;
                                display: inline-block;
                                flex-direction: column;
                                font-size: 3.5rem;
                                padding: 20px;
                                margin: 20px;
                                text-align: $Center;
                                justify-items: $Center;
                            }
                            .textpreg {
                                font-family: $mainFont;
                                font-size: 3rem;
                                padding: 5px;
                                margin: 10px;
                                text-align: $Center;
                            }
                            .textIntro {
                                font-family: $mainFont;
                                font-size: 2rem;
                                padding: 10px;
                                margin-bottom: 2rem;
                                margin: 15px;
                            }
                            .textli {
                                font-family: $mainFont;
                                font-size: 1.5rem;
                                list-style-type: disc;
                            }
                            .picCuida {
                                align-items: $Center;
                                border-radius: 10px;
                                margin-bottom: 20px;
                            }
                            h3 {
                                grid-area: textCui2;
                                .eslogan2 {
                                    display: flex;
                                    flex-direction: row;
                                    font-size: 2rem;
                                    padding: 10px;
                                    margin: 20px;
                                    text-align: $Center;
                                }
                            }
                        }
                    }
                    
                    .containerNos {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        padding: 2rem;
                        font-family: $mainFont;
                        .textnosotrosTI {
                            grid-area: NosotrostextT;
                            font-family: $mainFont;
                            font-size: 3.5rem;
                        }
                        .containerNosgrid {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: repeat(4, auto);
                            grid-template-areas: "Nosotrostext1 FotoAnillosnos1""FotoNos2 Nosotrostext2""Nosotrostext3 Nosotrostext3""iframespotify iframespotify";
                            align-items: $Center;
                            justify-items: $Center;
                            font-family: $mainFont;
                            .textnosotrosp {
                                grid-area: Nosotrostext1;
                                font-family: $mainFont;
                                font-size: 2rem;
                                padding-bottom: 20px;
                            }
                            .FotoAnillosnos1 {
                                width: auto;
                                height: auto;
                                grid-area: FotoAnillosnos1;
                                padding: 0;
                            }
                            .FotoNos2 {
                                width: auto;
                                max-width: 600px;
                                height: auto;
                                grid-area: FotoNos2;
                                padding: 0;
                            }
                            .textnosotrosp2 {
                                grid-area: Nosotrostext2;
                                font-family: $mainFont;
                                font-size: 2rem;
                                padding-top: 20px;
                                padding-left: 10px;
                            }
                            .textp {
                                grid-area: Nosotrostext3;
                                font-family: $mainFont;
                                font-size: 2rem;
                                text-align: $Center;
                                padding: 20px;
                            }
                            .iframespotify {
                                grid-area: iframespotify;
                                width: 800px;
                            }
                        }
                    }
                    
                    .containerContacto {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        padding: 2rem;
                        font-family: $mainFont;
                        .contacto {
                            font-family: $mainFont;
                            font-size: 3.5rem;
                            text-align: left;
                            margin-left: 20px;
                        }
                        .gridContacto {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: repeat(2, auto);
                            .textformp {
                                text-align: left;
                                padding: 30px;
                                margin: 20px;
                                font-size: 2rem;
                                font-family: $mainFont;
                            }
                            .formContacto {
                                display: grid;
                                grid-template-rows: 1fr;
                                text-decoration: $sacarDeco;
                                font-family: $mainFont;
                                font-size: 1.8rem;
                                color: $fontColor;
                                width: 400px;
                                height: 380px;
                                background-color: $thirdColor;
                                box-sizing: border-box;
                                margin-bottom: 20px;
                                border-radius: 7px;
                                .form-group {
                                    display: flex;
                                    flex-direction: column;
                                    margin: 0;
                                    margin-left: 10px;
                                    input {
                                        width: 350px;
                                        margin: 0;
                                    }
                                    textarea {
                                        width: 350px;
                                        padding: 0;
                                    }
                                    label {
                                        margin: 0;
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                    
                    footer {
                        .footerdec {
                            background: linear-gradient(220deg, $secondaryColor, $thirdColor);
                        }
                        .footer {
                            display: flex;
                            flex-direction: row;
                            font-family: $mainFont;
                            justify-content: $Center;
                            align-items: $Center;
                            justify-items: $Center;
                            text-decoration: $sacarDeco;
                            iframe {
                                padding: 5rem;
                                width: 100%;
                            }
                            .footerSectionp {
                                display: flex;
                                flex-direction: column;
                                text-decoration: $sacarDeco;
                                text-align: $Center;
                                font: $mainFont;
                                color: $fontColor;
                                font-size: 1.8rem;
                                margin: 15px;
                                a {
                                    text-decoration: $sacarDeco;
                                }
                            }
                            .iconfooter {
                                width: 40px;
                                height: 40px;
                                align-content: $Center;
                            }
                            h2 {
                                .esloganFooter {
                                    display: flex;
                                    flex-direction: column;
                                    align-content: right;
                                    text-align: right;
                                    font: $mainFont;
                                    font-size: 3rem;
                                    color: $fontColor;
                                    margin: 20px;
                                }
                            }
                        }
                    }
                    
                    @media (max-width:965px) {
                        .breadcrumb {
                            font-size: 1.3rem;
                        }
                        .contenido {
                            .contenidogrid {
                                display: flex;
                                flex-direction: column;
                            }
                            .contenidoflex2 {
                                display: flex;
                                flex-direction: row;
                            }
                        }
                        footer {
                            .footer {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        .containerprod {
                            .corprod {
                                .h1productos {
                                    font-size: 2.5rem;
                                }
                                .fotosMain {
                                    display: grid;
                                    grid-template-columns: repeat(2, 1fr);
                                    figure {
                                        text-align: center;
                                        figcaption {
                                            font-size: 2.2rem;
                                        }
                                        p {
                                            font-size: 2rem;
                                        }
                                    }
                                }
                            }
                        }
                        .containerCuidados {
                            .gridCui {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        /* NOSOTROS */
                        .containerNos {
                            .textNosotrosTI {
                                font-size: 2.8rem;
                            }
                            .containerNosgrid {
                                display: flex;
                                flex-direction: column;
                                text-align: $Center;
                                .textnosotrosp {
                                    text-align: $Center;
                                    padding: 15px;
                                    padding-top: 0;
                                    font-size: 2rem;
                                }
                                .textnosotrosp2 {
                                    text-align: $Center;
                                    padding: 15px;
                                    font-size: 2rem;
                                }
                                .textp {
                                    text-align: $Center;
                                    padding: 15px;
                                    font-size: 2rem;
                                }
                                .FotoAnillosnos1 {
                                    width: auto;
                                    height: auto;
                                    max-width: 600px;
                                }
                                .FotoNos2 {
                                    width: auto;
                                    height: auto;
                                    max-width: 600px;
                                }
                                .iframespotify {
                                    width: 600px;
                                }
                            }
                        }
                        /* CONTACTO */
                        .containerContacto {
                            .contacto {
                                text-align: center;
                                font-size: 2.8rem;
                            }
                            .gridContacto {
                                display: flex;
                                flex-direction: column;
                                align-items: $Center;
                                .textformp {
                                    text-align: center;
                                    padding: 0;
                                    margin: 0;
                                    padding-bottom: 25px;
                                }
                            }
                        }
                    }
                    
                    @media (max-width:767px) {
                        .breadcrumb {
                            font-size: 1.2rem;
                        }
                        /* INDEX */
                        .contenido {
                            .contenidogrid {
                                display: flex;
                                flex-direction: column;
                                .contenidofont {
                                    font-size: 1.5rem;
                                    transition: font-size 0.5s;
                                    text-decoration: $sacarDeco;
                                    &:hover {
                                        font-size: 1.6rem;
                                    }
                                }
                            }
                            .contenidoflex2 {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        footer {
                            .footer {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        /* PRODUCTOS */
                        .containerprod {
                            .corprod {
                                .h1productos {
                                    font-size: 2.5rem;
                                }
                                display: flex;
                                flex-direction: column;
                                .fotosMain {
                                    display: grid;
                                    grid-template-columns: repeat(2, 1fr);
                                    figure {
                                        text-align: center;
                                        figcaption {
                                            font-size: 2.2rem;
                                        }
                                        p {
                                            font-size: 2rem;
                                        }
                                    }
                                }
                            }
                        }
                        /* CUIDADOS */
                        .containerCuidados {
                            display: flex;
                            flex-direction: column;
                            .gridCui {
                                .textCuiTI {
                                    font-size: 2.8rem;
                                }
                                .textpreg {
                                    font-size: 2.2rem;
                                }
                                .textIntro {
                                    font-size: 1.8rem;
                                }
                            }
                        }
                        /* NOSOTROS */
                        .containerNos {
                            .textnosotrosTI {
                                font-size: 2.8rem;
                            }
                            .containerNosgrid {
                                display: flex;
                                flex-direction: column;
                                .textnosotrosp {
                                    font-size: 2rem;
                                }
                                .textnosotrosp2 {
                                    text-align: $Center;
                                    font-size: 2rem;
                                }
                                .textp {
                                    font-size: 2rem;
                                }
                                .FotoAnillosnos1 {
                                    width: auto;
                                    height: auto;
                                    max-width: 500px;
                                }
                                .FotoNos2 {
                                    width: auto;
                                    height: auto;
                                    max-width: 500px;
                                }
                                .iframespotify {
                                    width: 500px;
                                }
                            }
                        }
                        /* CONTACTO */
                        .containerContacto {
                            .contacto {
                                text-align: center;
                                font-size: 2.8rem;
                            }
                            .gridContacto {
                                display: flex;
                                flex-direction: column;
                                .textformp {
                                    text-align: center;
                                }
                            }
                        }
                    }
                    
                    @media (max-width:560px) {
                        .breadcrumb {
                            font-size: 1rem;
                        }
                        .contenido {
                            display: flex;
                            flex-direction: column;
                            justify-items: $Center;
                            max-width: 100%;
                            .carousel-item {
                                img {
                                    height: auto;
                                    width: 100%;
                                    max-height: 250px;
                                    size-adjust: 100%;
                                }
                            }
                            .newslettlerInfo {
                                width: 300px;
                                #button {
                                    width: 220px;
                                }
                            }
                            .portadaIndex {
                                font-family: $mainFont;
                                font-size: 2.5rem;
                                color: $fontColor;
                                padding-top: 10px;
                                padding: 0;
                            }
                            .containerIndex {
                                .contenidogrid {
                                    display: flex;
                                    flex-direction: column;
                                    .contenidofont {
                                        font-size: 1rem;
                                        transition: font-size 0.5s;
                                        text-decoration: $sacarDeco;
                                        &:hover {
                                            font-size: 1.2rem;
                                        }
                                    }
                                }
                            }
                        }
                        .containerprod {
                            .corprod {
                                .h1productos {
                                    font-size: 2.5rem;
                                }
                                .fotosMain {
                                    display: grid;
                                    grid-template-columns: 1fr;
                                    figure {
                                        text-align: center;
                                        figcaption {
                                            font-size: 2rem;
                                        }
                                        p {
                                            font-size: 1.8rem;
                                        }
                                    }
                                }
                            }
                        }
                        .containerCuidados {
                            display: flex;
                            flex-direction: column;
                            .gridCui {
                                .textCuiTI {
                                    font-size: 2.5rem;
                                }
                                .textpreg {
                                    font-size: 2rem;
                                }
                                .textIntro {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                        .containerNos {
                            .textnosotrosTI {
                                font-size: 2.5rem;
                            }
                            .containerNosgrid {
                                display: flex;
                                flex-direction: column;
                                .textnosotrosp {
                                    font-size: 2rem;
                                }
                                .textnosotrosp2 {
                                    text-align: $Center;
                                    font-size: 2rem;
                                }
                                .textp {
                                    font-size: 2rem;
                                }
                                .FotoAnillosnos1 {
                                    width: auto;
                                    height: auto;
                                    max-width: 200px;
                                }
                                .FotoNos2 {
                                    width: auto;
                                    height: auto;
                                    max-width: 300px;
                                    padding: 0;
                                    justify-content: $Center;
                                }
                                .iframespotify {
                                    width: 300px;
                                }
                            }
                        }
                        .containerContacto {
                            .contacto {
                                text-align: center;
                                font-size: 2.5rem;
                            }
                            .gridContacto {
                                display: flex;
                                flex-direction: column;
                                .formContacto {
                                    width: 300px;
                                    .form-group {
                                        input {
                                            width: 220px;
                                            margin: 0;
                                        }
                                        textarea {
                                            width: 220px;
                                            padding: 0;
                                        }
                                        label {
                                            margin: 0;
                                            padding: 0;
                                        }
                                    }
                                }
                                .textformp {
                                    text-align: center;
                                    font-size: 1.8rem;
                                }
                            }
                        }
                        #button {
                            width: 250px;
                        }
                    }