@media (max-width:965px) {
    footer {
        display: flex;
        flex-direction: row;
        .footerdec {
            background-color: #DBCCBB;
        }
        .footer {
            .footerfoot {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }
            .iframe {
                width: 800px;
            }
        }
    }
    /* NOSOTROS */
    .containerNos {
        display: flex;
        flex-direction: column;
        .Nosotrostext1 {
            text-align: center;
        }
        .textnosotrosp2 {
            text-align: center;
        }
        section {
            .FotoNos2 {
                img {
                    display: flex;
                    flex-direction: column;
                    width: 500px;
                    padding: 0;
                    justify-content: center;
                }
            }
        }
        .FotoAnillosnos1 {
            section {
                img {
                    display: flex;
                    flex-direction: column;
                    width: 500px;
                    padding: 0;
                    margin: 0;
                    justify-content: center;
                }
            }
        }
        .iframespotify {
            width: 800px;
        }
    }
    /* CONTACTO */
    .container {
        display: flex;
        flex-direction: column;
        .contactform {
            width: 800px;
        }
        .contacto {
            text-align: center;
        }
        .textformp {
            text-align: center;
        }
        .logonav {
            img {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-items: center;
            }
        }
    }
}

@media (max-width:767px) {
    body {
        background-color: #F0E9E1
    }
    /* INDEX */
    .contenidoflex {
        display: flex;
        flex-direction: column;
    }
    .footer {
        display: flex;
        flex-direction: column;
        .footerfoot {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        .footerdec {
            background-color: #DBCCBB;
        }
        .iframe {
            width: 400px;
        }
    }
    /* PRODUCTOS */
    .fotosMain {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /* CUIDADOS */
    .containerCuidados main {
        display: flex;
        flex-direction: column;
    }
    /* NOSOTROS */
    .containerNos {
        display: flex;
        flex-direction: column;
        .textnosotrosp2 {
            text-align: center;
        }
        .containerNos .FotoNos2 section img {
            display: flex;
            flex-direction: row;
            width: 400px;
            padding: 0;
            justify-content: center;
        }
        .FotoAnillosnos1 {
            section {
                img {
                    display: flex;
                    flex-direction: column;
                    width: 400px;
                    padding: 0;
                    margin: 0;
                    justify-content: center;
                }
                .iframespotify {
                    width: 600px;
                }
            }
        }
    }
    /* CONTACTO */
    .container {
        display: flex;
        flex-direction: column;
        .contactform {
            width: 400px;
        }
        .contacto {
            text-align: center;
        }
        .textformp {
            text-align: center;
        }
    }
}

@media (max-width:560px) {
    .fotosMain {
        display: grid;
        grid-template-columns: 1fr;
    }
    .containerprod {
        padding: 0;
    }
    .fotosMain figure {
        text-align: center;
    }
    .iframe {
        width: 300px;
    }
    .containerNos section img {
        width: 300px;
        padding: 0;
    }
    .iframespotify {
        width: 300px;
    }
    .contactform,
    .formContacto,
    form {
        width: 300px;
    }
    #button {
        width: 220px;
    }
    .contacto {
        text-align: center;
    }
    .textformp {
        text-align: center;
    }
}