main {
    .containerNos {
        display: grid;
        grid-template-columns: 50%, 50%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "NosotrostextT NosotrostextT""Nosotrostext1 FotoAnillosnos1""FotoNos2 Nosotrostext2""Nosotrostext3 Nosotrostext3""iframespotify iframespotify";
        align-items: center;
        justify-items: center;
    }
    section {
        .NosotrostextT {
            grid-area: NosotrostextT;
            h1 {
                .textnosotros {
                    font-family: $mainFont;
                    font-size: 3.5rem;
                    text-align: center;
                    padding: 10px;
                    margin: 20px;
                }
            }
        }
    }
    section {
        .Nosotrostext1 {
            grid-area: Nosotrostext1;
            p {
                .textnosotrosp {
                    font-family: $mainFont;
                    font-size: 2.5rem;
                    text-align: left;
                    padding: 10px;
                    margin: 20px;
                }
            }
        }
    }
    section {
        .FotoAnillosnos1 {
            grid-area: FotoAnillosnos1;
        }
    }
    section {
        .FotoNos2 {
            grid-area: FotoNos2;
        }
    }
    section {
        .Nosotrostext2 {
            grid-area: Nosotrostext2;
            p {
                .textnosotrosp2 {
                    font-family: $mainFont;
                    font-size: 2.5rem;
                    text-align: right;
                    padding: 30px;
                    margin: 20px;
                }
            }
        }
    }
    section {
        .Nosotrostext3 {
            grid-area: Nosotrostext3;
            p {
                .textp {
                    font-family: $mainFont;
                    font-size: 2rem;
                    text-align: center;
                    padding: 10px;
                    margin: 20px;
                }
            }
        }
    }
    section {
        .iframespotify {
            grid-area: iframespotify;
            display: flex;
            flex-direction: row;
            width: 900px;
            height: 450px;
            margin: 20px;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
    }
    .containerNos {
        section {
            img {
                display: flex;
                flex-direction: column;
                padding: 30px;
                transition: padding 0.5s;
            }
        }
    }
    .containerNos {
        section {
            img:hover {
                padding: 20px;
            }
        }
    }
    .containerNos {
        section {
            iframe {
                padding-bottom: 40px;
                padding-right: 20px;
                padding-left: 20px;
            }
        }
    }
}