@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@100;200;300&display=swap');
$mainColor:#F0E9E1;
$mainFont:'Inter',
sans-serif;
$sacarDeco: none;
$secondaryColor:#DBCCBB;
$thirdColor:#b5997699;
$fontColor:#1C1915;
$buttonColor:linear-gradient(#4C371C,
#2c2318);
$Center: center;